[Desktop Entry]
Name=Arch Hotspot Wi-Fi
GenericName=Partage de Connexion
Comment=Gestionnaire de Point d'accès Wi-Fi et surveillance des clients (Hotspot)
Exec=arch-hotspot-gui
Icon=arch-hotspot
Terminal=false
Type=Application
Categories=Network;System;
Keywords=wifi;hotspot;partage;connexion;arch;
StartupNotify=true
